In [9]:
import requests
from bs4 import BeautifulSoup
import datetime
import os
import pymysql
import pandas as pd

In [22]:
ip_address = os.environ['AWS_IP']
PASSWORD = os.environ['SQL_PWD_AWS']

con = pymysql.connect(
    user='edward', 
    passwd=PASSWORD,
    host=ip_address, 
    db='community', 
    charset='utf8'
)

In [23]:
def nate_all_content():
    sql = f"select * from nate_content"
    with con.cursor() as cursor:
        cursor.execute(sql)
        result = cursor.fetchall()
    return result

In [24]:
def nate_all_comment():
    sql = f"select * from nate_comment"
    with con.cursor() as cursor:
        cursor.execute(sql)
        result = cursor.fetchall()
    return result

In [25]:
contents = nate_all_content()

In [27]:
comments = nate_all_comment()

In [26]:
pd.DataFrame(contents)

,0,1,2,3
0,1,2020년 제일 후회되는 일 하나씩 쓰고가 : 네이트판,난 바보같이 늘 내가 호구잡히는거 알면서도 정색하거나 싸웠을때 생길 상황이 너무 스...,2021-01-01
1,2,2021년도 소원&목표&계획 적고가자!! ٩(๑•̀o•́๑)وxa0 : 네이트판,❌페북 인스타 퍼가지마❌\n\n이건 이어쓰기 1회~160회까지 이어져있는 링크야!\...,2021-01-01
2,3,수호 짤 푼다. 들어와라 : 네이트판,이거 왜 없냐 싶은 짤은 댓글로 부탁한다\n\n+아니 자고 일어나니까 실베에 가있네...,2021-01-01
3,4,제가 잘못한걸까요? : 네이트판,남편이 새차를 사고 차 카페 가입후 거기서 친하게 지내는 사람들과 단톡을 해요. (...,2021-01-01
4,5,본진 웃는 거 예쁜 사진 좀 두고가주라! : 네이트판,나 웃는 사진 정말 좋아해... 힐링돼\n난 나잼 두고감\n사진 많이 올려줘서 고마...,2021-01-01
...,...,...,...,...
995,996,잼민이의 방탄 엔시티 세계관 : 네이트판,+ 얘들아 반대 왜이렇게 많아.. ㅠㅅㅠ 다들 웃으라고 올린건데..,2021-01-10
996,997,종아리에 거대한 혹을 달고 사는 남자 : 네이트판,출처 :xa0https://www.migall.com/humormoa/376080,2021-01-10
997,998,시어머니 때문에 남편이랑 이혼할까 고민중 도와주세요 : 네이트판,결혼때 시댁 지원 받은거 하나도 없구요 (형편 안되서) \n그나마 친정에서 도와줘서...,2021-01-10
998,999,+)많이 먹는게 어때서... : 네이트판,진짜 밥이 너무 좋고 맛있고 한숟갈 한숟갈 떠먹을 때마다\n\n와 진짜 맛있다 하면...,2021-01-10
999,1000,전정국 얘ㅠㅠㅠㅠㅠ머리카락약해서ㅠㅜㅜㅠ : 네이트판,정국이 머리카락 약해서 염색 많이 안하잖아ㅠㅜㅜㅜㅠ 금발이라뇨ㅠㅜㅜㅜㅜㅜㅜ,2021-01-10

In [33]:
pd.DataFrame(comments)

           0    1  2                                                  3    4
0        200  901  5                       그냥 코로나라는 핑계를 씌워서 365일을 날려버린거    1
1        201  614  9                      애들아 지난일에 괴로워하지말고 이번년엔 갓생 살아보자    1
2        202  583  5  공부 열심히 안한거..지금 공부 열심히 안하고 있는거... 내 인생이 걱정돼.. 뭐...    1
3        203    0  0                                 코로롱 땜에 살 9키로 찐거 ㅅㅂ    1
4        204    0  0  동아리 팀장맡은거.. 대회출품이 목적이라 시간도 노력도 엄청 들어가는데 억지로 떠맡...    1
...      ...  ... ..                                                ...  ...
18932  19132    4  0  진심 내가 쓴글인줄ㅠㅠ엉엉 탄수화물 너무좋아 살 겁나찜ㅠㅠㅠ어쩜 먹고싶은것도 나랑 ...  999
18933  19133    2  0                                          글이 귀여워요ㅎㅎ  999
18934  19134    0  0                                                  .  999
18935  19135    2  0                       짜빠게티 3개끓여 노나먹고 핫바 두개 먹고 왔잖아요  999
18936  19136    0  0                          진짜 한심해요..! 이거 개웃기넼ㅋㅋㅋㅋㅋㅋㅋ  999

[18937 rows x 5 columns]